/* || Colors */
:root {

    --clr-primary-500: #103249;
    --clr-primary-700: #0B2333;
    --clr-secondary-500: #BF6445;
    --clr-support-300: #FFFFFF;
    --clr-support-500: #757575;
    --clr-support-800: #000000;
}
