/* || Typograpy */
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("/assets/fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/montserrat-v25-latin-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/montserrat-v25-latin-italic.woff2") format("woff2"),
    url("/assets/fonts/montserrat-v25-latin-italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/assets/fonts/montserrat-v25-latin-600.woff2") format("woff2"),
    url("/assets/fonts/montserrat-v25-latin-600.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/montserrat-v25-latin-600italic.woff2") format("woff2"),
    url("/assets/fonts/montserrat-v25-latin-600italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/assets/fonts/montserrat-v25-latin-700.woff2") format("woff2"),
    url("/assets/fonts/montserrat-v25-latin-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/montserrat-v25-latin-700italic.woff2") format("woff2"),
    url("/assets/fonts/montserrat-v25-latin-700italic.woff") format("woff");
  font-display: swap;
}

/* || Font size */
:root {
  --fs-700: 3.052rem;
  --fs-600: 1.953rem;
  --fs-500: 1.563rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
}

@media (min-width: 38rem) {
  :root {
    --fs-700: 3.815rem;
    --fs-600: 2.441rem;
    --fs-500: 1.953rem;
    --fs-400: 1rem;
    --fs-300: 0.8rem;
  }
}

h1 {
  font-size: var(--fs-700);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--clr-primary-500);
  margin: 0;
}

h2 {
  font-size: var(--fs-600);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--clr-primary-500);
  margin: 0;
}

h3 {
  font-size: var(--fs-500);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--clr-primary-500);
  margin: 0;
}

p {
  font-size: var(--fs-400);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--clr-support-500);
  line-height: 180%;
  text-align: justify;
  margin: 0;
}

small {
  font-size: var(--fs-300);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--clr-primary-500);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

a {
  text-decoration: transparent;
  font-size: var(--fs-400);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--clr-primary-500);
}

address {
  font-size: var(--fs-300);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-support-300);
  text-align: center;
}

span {
  font-size: var(--fs-300);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--clr-support-300);
}

/* || Utilities */

* {
  margin: 0;
  padding: 0;
}

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  overflow-x: hidden;
}

:root {
  --navHeight: 100px;
  --footHeight: 100px;
}

.info-panel__list-desenhos {
  list-style: none;
}
